body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
------------------------------------------------------------------------------------------------------------------------------------------
Header
------------------------------------------------------------------------------------------------------------------------------------------
*/

.header{
    display: flex;
    justify-content: space-around;
    margin: 24px;
    padding: 12px;
}

ul {
    list-style: none;
    margin: 0;
    font-size: 24px;
}

.list{
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: black;
}

.logo{
    font-size: 42px;
}

/*
------------------------------------------------------------------------------------------------------------------------------------------
Content
------------------------------------------------------------------------------------------------------------------------------------------
*/

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px;
}

.briefProfile{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.image {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
}

/*
------------------------------------------------------------------------------------------------------------------------------------------
Service
------------------------------------------------------------------------------------------------------------------------------------------
*/

.service{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;
    margin: 60px;
}

.box{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    padding: 24px;
}

h3 {
    text-align: center;
}

/*
------------------------------------------------------------------------------------------------------------------------------------------
Service
------------------------------------------------------------------------------------------------------------------------------------------
*/

.contact{
    display: flex;
    justify-content: space-around;
    margin: 48px;
    padding: 24px;
}

/*
------------------------------------------------------------------------------------------------------------------------------------------
Service
------------------------------------------------------------------------------------------------------------------------------------------
*/

footer{
    text-align: center;
}